<!-- src/app.html -->
<div class="tsj-shell">
  <div class="tsj-shell-inner container-fluid px-3 px-lg-5">
    <header class="tsj-topbar">
  <div class="tsj-topbar-left">
    <span class="tsj-app-name">PNB Assistant </span>
  </div>

  <div class="tsj-topbar-right" *ngIf="auth.isLoggedIn()">
    <span class="tsj-user-email">{{ auth.currentUser?.email }}</span>

    <button class="tsj-logout-btn" (click)="auth.logout()">
      Cerrar sesión
    </button>
  </div>
</header>
    <!-- MAIN (LOGIN o CHAT) -->
    <main class="tsj-shell-main">
      @if (!auth.isLoggedIn()) {
      <!-- LOGIN -->
      <section class="tsj-main-login d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-lg-5 col-md-7 col-sm-10">
            <div class="card tsj-login-card border-0 p-4">
              <h5 class="fw-semibold mb-2">Acceso al asistente jurídico</h5>
              <p class="text-muted small mb-3">
                Use sus credenciales del sistema interno del TSJ para iniciar sesión.
              </p>

              <app-login></app-login>
            </div>
          </div>
        </div>
      </section>
      } @else {
      <!-- CHAT: ocupa todo el alto disponible -->
      <app-chat class="w-100"></app-chat>
      }
    </main>
  </div>
  
</div>